<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <style>
  h1, h2{
    text-align: center
  }
  body{
    font-family: 'Poppins', sans-serif;
    
  } 
  input{
    display: block;
    margin 0 auto;
  }
  </style>
</head>
<body>
  <h1>CPU CENTRAL</h1>
  <p>Welcome to CPU Central, your go-to store for high-performance CPUs and computing components. Whether you’re a gamer, professional, or DIY enthusiast, we provide top-quality processors from trusted brands like Intel and AMD. Our goal is to offer the best products, competitive prices, and exceptional service to help you build the perfect machine. Shop with us for reliable, powerful CPUs that meet your needs. </p>

  <form action='/browse'><input type="submit" value="Browse"></form>

</body>
</html>